body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menu-item {
  background-color: red;
  width:  3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 0 7px; 
}

.menu-item img {
  width: 2rem;
}

.hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0.2);
  transition: all 0.3s ease-out;
}

.hover:hover {
  background-color: rgba(250, 250, 250, 0.2);
}

.page-title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #fdcc2b;
  font-weight: 800;
  font-size: 1.2em;
}

.brands-car {
  padding: 20px;
  border-radius: 5px;
  background: #eee;
  display: flex;
  overflow: hidden;
  position: relative;
}

.brands-car > img {
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  width: 100%;
  top: -80%;
  filter: brightness(110%);
}

.brand-car-el {
  flex-shrink: 0;
  flex-grow: 0;
  width: 16%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(17, 17, 17, 0.2);
  margin: 0 2%;
  animation: block 20s linear infinite;
  background-color: rgba(250, 250, 250, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-out;
  transform: translate(0);
}

.brand-car-el img {
  width: 65%;
  height: 65%;
  object-fit: contain;
  display: block;
  opacity: 0.7;
}

@keyframes block {
  0% {
    transform: translate(0); }
  100% {
    transform: translate(-625%); }
}

.brand-car-el:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.product-grid {
  margin: 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.product-grid.index .prod-grid-item:first-child {
  grid-column-end: span 2;
}

.prod-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  transform: scale(100%);
  transition: all 0.5s ease-out;
  text-align: center;
}

.prod-grid-item img {
  transition: all 0.1s ease-out;
  transform: scale(100%);
  width: 80%;
  height: 80%;
  object-fit: contain;
  display: block;
}

.prod-grid-item:hover, .prod-grid-item:hover img {
  transform: scale(102%);
}