extends ../layout

block content
    div.mt-4.mb-2
        a(href='/brands/create' style="text-decoration: none;") 
            button.btn.btn-outline-dark.btn-lg.btn-block(type="button") Create a new Brand
        

    div.container
        for brand in brands
            div.row.align-items-center
                a(href=brand.url) 
                    img.col(src=brand.image style='width: 300px;')
            br
            br